:root {
    --primary-color: #F0E1D1;
    --secondary-color: #39a770;
    --thirdary-color: #446652;
}
.logo {
  border-radius: 5px;
  border: var(--primary-color) 2px solid;
}
.logo img {
    width: 40px;
    height: 40px;
    display: flex;
  
}
.logo, .name{
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
  color: var(--primary-color);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background-color: var(--thirdary-color);
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
    z-index : 10;
}
.navbar a{
    text-decoration: none;
}
.name{
  margin: 0px;
}
/* Burger menu */
.burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
.bar {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.active{
  border-bottom: 2px solid var(--primary-color);
}

/* Mobile menu*/
.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--thirdary-color);
    width: 200px;
    padding: 1rem;
    list-style: none;
    margin: 0px;
    gap: 1rem;
    border-radius: 4px;
    z-index: 10;
}
.menu li a{
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    background: transparent;
   font-weight: 500;
   background-color: transparent;
   padding: 0.5rem 1rem;
   transition: all 0.3s ease;
}

/*When the menu is open */
.menuOpen {
    display: flex;
}
.menu li a:hover{
    background-color: var(--primary-color);
    color: var(--thirdary-color);
    outline:none;
    border-radius: 15px;
  }
/* Desktop styles */
@media (min-width: 768px) {
  .burger {
    display: none; /* cacher burger en desktop */
  }

  .menu {
    position: static;
    display: flex !important; /* forcer affichage */
    flex-direction: row;
    gap: 2rem;
    width: auto;
    box-shadow: none;
    padding: 0;
    background: none;
  }

  .menu li a {
    color: var(--primary-color);
    font-weight: 600;
    color: var(--primary-color);
    border-radius: 5px;
  }

}